h1 {
 
    font-family:Georgia; 
    color: powderblue;
    margin: 120px auto 0;/
}
img{
  display: block;
  margin: 60px auto 0;/
}
body {
  background-image: url("cv.jpeg");
  background-size: cover;        
  background-repeat: no-repeat; 
  background-position: center;   
}
